<h2>Survey</h2>

<div *ngFor="let product of products"><h3>
    {{ product.name }}
</h3></div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <div>
      <label for="name">
        Your Name
      </label>
      <input id="name" style="width: 300px;" type="text" formControlName="name">
    </div>
  
    <div>
      <label for="event">
        Name of the Event
      </label>
      <input id="training" style="width: 500px;" type="text" formControlName="event">
    </div>
    <label id="example-radio-group-label">Overall, How satisfied were you with this event</label>
    <p>
        <input type="radio" value="VeryUnsatisfied" formControlName="gender"> Very Unsatisfied
        <input type="radio" value="Unsatisfied" formControlName="gender"> Unsatisfied
        <input type="radio" value="Neutral" formControlName="gender"> Neutral
        <input type="radio" value="Satisfied" formControlName="gender"> Satisfied
        <input type="radio" value="VerySatisfied" formControlName="gender"> Very Satisfied
        
     </p>
     <label id="example-radio-group-label">Have you attended this event before?</label>
     <p>
        <input type="checkbox" value ="Yes" formControlName="tc">
        
     </p>
     <label id="example-radio-group-label">Would you recommend this event for others?</label>
         <p>  <select ng-model="myVar">
    <option value="yes" ></option>
    <option value="yes" >Yes
    <option value="no">No
  </select>
         </p>
    <button class="button" type="submit">Submit</button>
  
  </form>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->